/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[Animal type]
      ,[Name]
      ,[Age]
      ,[Room#]
      ,[IsAdopted]
      ,[HasShots]
      ,[Food Daily]
      ,[Price]
  FROM [HumaneSociety].[dbo].[Animal_Info]